src/conf/wsdl/PersonWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dataejbsra.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dataejbsra.com/" name="PersonWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dataejbsra.com/" schemaLocation="http://localhost:8080/PersonWS/PersonWS?xsd=1"/>
</xsd:schema>
</types>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="registerBirth">
<part name="parameters" element="tns:registerBirth"/>
</message>
<message name="registerBirthResponse">
<part name="parameters" element="tns:registerBirthResponse"/>
</message>
<message name="registerDeath">
<part name="parameters" element="tns:registerDeath"/>
</message>
<message name="registerDeathResponse">
<part name="parameters" element="tns:registerDeathResponse"/>
</message>
<message name="findByUserName">
<part name="parameters" element="tns:findByUserName"/>
</message>
<message name="findByUserNameResponse">
<part name="parameters" element="tns:findByUserNameResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="registerData">
<part name="parameters" element="tns:registerData"/>
</message>
<message name="registerDataResponse">
<part name="parameters" element="tns:registerDataResponse"/>
</message>
<message name="findByCedule">
<part name="parameters" element="tns:findByCedule"/>
</message>
<message name="findByCeduleResponse">
<part name="parameters" element="tns:findByCeduleResponse"/>
</message>
<portType name="PersonWS">
<operation name="count">
<input wsam:Action="http://ws.dataejbsra.com/PersonWS/countRequest" message="tns:count"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWS/countResponse" message="tns:countResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws.dataejbsra.com/PersonWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="registerBirth">
<input wsam:Action="http://ws.dataejbsra.com/PersonWS/registerBirthRequest" message="tns:registerBirth"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWS/registerBirthResponse" message="tns:registerBirthResponse"/>
</operation>
<operation name="registerDeath">
<input wsam:Action="http://ws.dataejbsra.com/PersonWS/registerDeathRequest" message="tns:registerDeath"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWS/registerDeathResponse" message="tns:registerDeathResponse"/>
</operation>
<operation name="findByUserName">
<input wsam:Action="http://ws.dataejbsra.com/PersonWS/findByUserNameRequest" message="tns:findByUserName"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWS/findByUserNameResponse" message="tns:findByUserNameResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws.dataejbsra.com/PersonWS/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWS/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="registerData">
<input wsam:Action="http://ws.dataejbsra.com/PersonWS/registerDataRequest" message="tns:registerData"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWS/registerDataResponse" message="tns:registerDataResponse"/>
</operation>
<operation name="findByCedule">
<input wsam:Action="http://ws.dataejbsra.com/PersonWS/findByCeduleRequest" message="tns:findByCedule"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWS/findByCeduleResponse" message="tns:findByCeduleResponse"/>
</operation>
</portType>
<binding name="PersonWSPortBinding" type="tns:PersonWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerBirth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerDeath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonWS">
<port name="PersonWSPort" binding="tns:PersonWSPortBinding">
<soap:address location="http://usuario1-pc:8080/PersonWS/PersonWS"/>
</port>
</service>
</definitions>