src/conf/wsdl/25.21.174.183_8080/PersonWS/PersonWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.dataejbsra.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.dataejbsra.com/">

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findByCedule" type="tns:findByCedule"/>

<xs:element name="findByCeduleResponse" type="tns:findByCeduleResponse"/>

<xs:element name="findByUserName" type="tns:findByUserName"/>

<xs:element name="findByUserNameResponse" type="tns:findByUserNameResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="person" type="tns:person"/>

<xs:element name="registerBirth" type="tns:registerBirth"/>

<xs:element name="registerBirthResponse" type="tns:registerBirthResponse"/>

<xs:element name="registerData" type="tns:registerData"/>

<xs:element name="registerDataResponse" type="tns:registerDataResponse"/>

<xs:element name="registerDeath" type="tns:registerDeath"/>

<xs:element name="registerDeathResponse" type="tns:registerDeathResponse"/>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByUserName">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByUserNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rOb">
<xs:sequence>
<xs:element name="data" type="xs:anyType" minOccurs="0"/>
<xs:element name="err_message" type="xs:string" minOccurs="0"/>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="birth" type="xs:dateTime" minOccurs="0"/>
<xs:element name="cedule" type="xs:long" minOccurs="0"/>
<xs:element name="death" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dtype" type="xs:string" minOccurs="0"/>
<xs:element name="mail" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerDeath">
<xs:sequence>
<xs:element name="cedule" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerDeathResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByCedule">
<xs:sequence>
<xs:element name="cedule" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByCeduleResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerData">
<xs:sequence>
<xs:element name="vo" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerBirth">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerBirthResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>